<tr> <td> <br> </td> </tr>
<tr> <td> <br> </td> </tr>

<tr>
<td align="center" valign="center" colspan="2">
<font size="+2">TAUhr Forecast Valid VSTRING</font>
</td>
</tr>

<tr>
<td align="center" valign="center">
<font size="+4">GenCast</font>
</td>
<td align="center" valign="center">
<font size="+4">GEOS-FP</font>
</td>
</tr>

<tr>
<td align="center" valign="center">
<img src="../images/GenCast.slp.20241231_00z.VNODE.TAU.png" />
</td>
<td align="center" valign="center">
<img src="../images/GEOSFP.slp.20241231_00z.VNODE.TAU.png" />
</td>
</tr>

<tr>
<td align="center" valign="center">
<font size="+4">Verification</font>
</td>
<td align="center" valign="center">
<font size="+4">Impact</font>
</td>
</tr>

<tr>
<td align="center" valign="center">
<img src="../images/GEOSANA.slp.20241231_00z.VNODE.TAU.png" />
</td>
<td align="center" valign="center">
<img src="../images/GenCast.slp_impact.20241231_00z.VNODE.TAU.png" />
</td>
</tr>
